:root {
  --contrastBright: #ffffff;
  --contrastDark: #00171f;

  --primaryColor: #00a8e8;
  --middleColor: #178AAF;
  --secondaryColor: #003459;
}

h1{
  font-weight: bolder;
}

.wrapper {
  max-width: 1000px;
  padding: 5px;
  margin: 0px auto;
  background-color: var(--middleColor);
}

.banner {
  background-image: url("img/footballBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 18vh;
  border: var(--contrastDark) 2px solid;
  display: relative;
  font: 220% bold;
}
.title {
  margin: 0;
  position: relative;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title > h1 {
  text-align: right;
  padding-right: 10vw;
  vertical-align: middle;
}

.tobbar {
  display: flex;
}

.tobbar > a {
  border-left: solid 2px var(--primaryColor);
  border-top: solid 2px var(--primaryColor);
  border-bottom: solid 2px var(--primaryColor);

  width: 25%;
  height: 8%;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  text-align: center;
  text-decoration: none;
}

#futuregames{
  border-right: solid black 2px;
}

#results{
  border-left: solid black 2px;
}

.mainbody{
  display: flex;
}

.content{
  max-width: 75%;
  padding: 2%;
}

.liveGames{
  min-width: 25%;
  border: black solid 2px;
  border-top: none;
  margin-right: 0%;
}

.tableHeader{
  text-transform: uppercase;
  text-align: center;
  margin: 1%;
  font-weight: bolder;
}

.horizontalline{
  border-top: black solid 2px;
  min-width: 100%;
}

.teamsContent{
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  white-space:pre-wrap;
  overflow:initial;
  justify-content: space-around;
}

.teams{
  position: relative;
  padding: 2vh 4vw;
}

.teams ,.teamsCrest ,.teamsName{
  text-align: center;
}

.teamsName p{
  max-width: 120px;
  white-space:normal;
  overflow:visible;
}

.teamsCrest{
  min-width: 30px;
  max-width: 120px;
  min-height: 30px;
  max-height: 120px;
  width: 15vw
}
.teamsCrest img{
  max-width: 100%;
  max-height: 120px;
  
}

body {
  background-color: var(--contrastBright);
  
}
