body{
    text-align: center;
    word-wrap: break-word;
    min-width: 400px;
}

ul{
    padding-inline-start: 0px;
    list-style: none;
    width: 40%;
    margin: auto;
}
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
}
.delete{
    background-image: url("delete.png");
}
.edit{
    background-image: url("edit.png");
}
.actionTodoListField:hover, .edit:hover, .delete:hover{
    background-color: lightgray;
    border-radius: 4px;
}
.edit, .delete{
    transition: 500ms;
    height: 2em;
    width: 2em;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}
.actionTodoListField{
    transition: 500ms;
    width: 50vw;
    height: 1em;
    padding: 0.25em;
    margin: 0.5vw 1vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}



.modalHeader{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.modalFooter{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.taskDescription{
    text-align: left;
    margin: 4%;
}
.taskDescriptionContainer{
    margin-top: 1%;
    width: 100%;
    text-align: justify;
}

.modalButton{
    background-color: lightgrey;
    border-radius: 25px;
    width: 15%;
}
.modalInput{
    background-color: lightpink;
}
#taskDescriptionInput{
    width: 100%;
    height: 100%;
    resize:none;
    }




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 800px;
    height: auto;
    box-shadow: #888 20px 20px 4px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


