.eTitle{
    background-color: aqua;
}
.eContent{
    min-width: 20px;
    min-height: 20px;
    background-color: coral;
    
}
.eContainer{
    height: 21px;
    overflow: hidden;
    transition: .5s;
}
.eContainer:hover{
    height: fit-content;
    overflow:auto;
}