.eTitle{
    background-color: aqua;
}
.eContent{
    display: none;
    min-width: 20px;
    min-height: fit-content;
    background-color: coral;
    list-style: none;
}
.eContainer{
    height: fit-content;
    overflow: hidden;
    transition: .5s;
    list-style: none;
    margin: 4px;
}
.details{
    
}
.details summary{
    list-style: none;
    cursor: pointer;
}
