.eTitle{
    background-color: aqua;
}
.eContent{
    display: none;
    min-width: 20px;
    min-height: 20px;
    background-color: coral;
    list-style: none;
}
.eContainer{
    width: 70%;
    height: fit-content;
    overflow: hidden;
    transition: .5s;
    margin: 0px auto;
}
.eContainer:focus-within{
    padding: 4px;
    background-color: brown;
    height: fit-content;
    overflow:auto;
}