:root{
    --margin: calc(1% /20*80)
}

.taskAdder{
    position: relative;
    display: flex;
    width: 60%; 
    margin: 0px auto;
    
}
.addContent{
    width: 80%;
    position: relative;
    display: inline-block;
    height: 100%;
}
.button{
    width: 20%;
    display: inline-block;
}


.texta, .texti{
    border: 2px black solid;
    width:95%;
    margin: 1% auto;
   
}
.texti{
    vertical-align: top;
    margin-top: 0px;  
}
.texta{
    vertical-align: bottom;
    margin-bottom: 0px;
    resize: none;
    height: calc(100% -16px);
    
}
.addTask{
    margin:1%;
    width: 98%;
    height:98%;
    
}