:root {
  --duration: 400ms;
  --body-background: #1e0f21;
  --background-blue: #3ad2d0;
}

.title {
  position: relative;
  color: white;
  font-size: 2rem;
  z-index: 3;
}
.mlcontainer {
  position: relative;
  background-color: var(--body-background);
  width: 250px;
  margin: 4px auto;
  padding-bottom: 0.1px;
  border-radius: 6px;
}
.mlcontainer::before {
  border-radius: 6px;
  z-index: -1;
  content: "";
}
/* The animation code */
@keyframes example {
  0% {
    background-color: var(--background-blue);
    z-index: -1;
    content: "";
    left: 50%;
    top: -2px;
    width: 0px;
    height: 20px;
  }
  10% {
    top: -2px;
    left: -2px;
    width: 254px;
    height: 20px;
  }
  15% {
    top: -2px;
    left: -2px;
    width: 254px;
    height: 20px;
  }
  50% {
    top: 30%;
    height: 40%;
  }
  85% {
    top: calc(100% - 18px);
    left: -2px;
    width: 254px;
    height: 20px;
  }
  90% {
    top: calc(100% - 18px);
    left: -2px;
    width: 254px;
    height: 20px;
  }
  100% {
    top: calc(100% - 18px);
    left: 50%;
    width: 0px;
    
  }
}

.mlcontainer:hover::before {
  position: absolute;
  animation-name: example;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  background-color: var(--background-blue);
}
.elements {
  z-index: 3;
  position: relative;
  padding: 0px;
  list-style: none;
}

.elementr,
.elementl {
  z-index: 3;
  margin: 5px 25px;
  transition: all var(--duration) ease-out;
}
.elementr:hover {
  margin-right: 0px;
  margin-left: 50px;
}
.elementl:hover {
  margin-right: 50px;
  margin-left: 0px;
}
